<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="4.5.3.3" targetFramework="net461" />
  <package id="FontAwesome.Sharp" version="5.15.4" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.9" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.9" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net461" />
  <package id="Tulpep.NotificationWindow" version="1.1.38" targetFramework="net461" />
  <package id="Visual.Reactive.WinForms" version="1.0.0" targetFramework="net461" />
</packages>